<nav>
    <div class="navbar"> 
        <div id="first-conteiner">
            <div><a href="/">POVRATAK NA POČETNU STRANICU</a></div>
           
        </div>

    <div id="second-conteiner">
        <img id="logo" src="./images/logo2.png" alt="">
    </div>
    <div id="third-conteiner">
        <div> <a href="/create-blogs">OSTAVITE KOMENTAR</a> </div>
       
    </div>
</div>
<div class="sladoladisa"> Sladoladiša</div>
</nav>